:root {
  --face-size: 6vw;
  --dot-size: calc(var(--face-size) * 0.225);
  
  background-color: rgba(175, 175, 175, 0.25);
}

/* Set perspective in wrapper */

.dice {
  position: absolute;
  top: 20vw;
  transform-style: preserve-3d;
  perspective: 20000px;
}
.dice.knight { left: 36vw; }
.dice.monster {
  right: calc(36vw + var(--face-size)); 
}

@keyframes spin {
    0% { transform: translateZ(-100px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
    16% { transform: translateZ(-100px) rotateX(180deg) rotateY(180deg) rotateZ(0deg); }
    33% { transform: translateZ(-100px) rotateX(360deg) rotateY(90deg) rotateZ(180deg); }
    50% { transform: translateZ(-100px) rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
    66% { transform: translateZ(-100px) rotateX(180deg) rotateY(360deg) rotateZ(270deg); }
    83% { transform: translateZ(-100px) rotateX(270deg) rotateY(180deg) rotateZ(180deg); }
    100% { transform: translateZ(-100px) rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
}

@keyframes roll {
    0% { transform: translate3d(-50px,-25px,-200px) }
    12% { transform: translate3d(0px,0,-50px) }
    25% { transform: translate3d(50px,-25px,-200px) }
    37% { transform: translate3d(0px,-50px,-200px) }
    50% { transform: translate3d(-50px,-25px,-200px) }
    62% { transform: translate3d(0px,0,-50px) }
    75% { transform: translate3d(50px,-25px,-200px) }
    87% { transform: translate3d(0px,-50px,-200px) }
    100% { transform: translate3d(-50px,-25px,-200px) }
}

@keyframes roll-reverse {
  0% { transform: translate3d(50px,25px,-200px) }
  12% { transform: translate3d(0px,0,-50px) }
  25% { transform: translate3d(-50px,25px,-200px) }
  37% { transform: translate3d(0px,50px,-200px) }
  50% { transform: translate3d(50px,25px,-200px) }
  62% { transform: translate3d(0px,0,-50px) }
  75% { transform: translate3d(-50px,25px,-200px) }
  87% { transform: translate3d(0px,50px,-200px) }
  100% { transform: translate3d(50px,25px,-200px) }
}

.die.rolling {
    animation: spin 1.6s infinite linear;
}
.dice.rolling {
    animation: roll 1.6s infinite linear;
}

.dice.monster.rolling {
    animation: roll-reverse 1.6s infinite linear;
}

.die span {
    position:absolute;
    margin:50px 0 0 50px;
    display: block;
    font-size: 1.75em;
    padding: 5px;
}

.die {
    position: absolute;
    left: 0;
    width: var(--face-size);
    height: var(--face-size);
    transform-style: preserve-3d;
    border-radius: 20px;
}

.die.value-1 {
  transform: rotateX(14deg) rotateY(9deg) rotateZ(12deg);
}

.die.value-2  {
  transform: rotateX(-90deg) rotateY(-11deg) rotateZ(-10deg);
}

.die.value-3  {
  transform: rotateX(10deg) rotateY(-90deg) rotateZ(-14deg);
}

.die.value-4 {
  transform: rotateX(10deg) rotateY(80deg) rotateZ(-14deg);
}

.die.value-5 {
  transform: rotateX(90deg) rotateY(-18deg) rotateZ(8deg);
}

.die.value-6 {
  transform: rotateX(16deg) rotateY(-180deg) rotateZ(14deg); 
}

.knight .die.value-0:nth-of-type(1) {
  transform: rotateX(8deg) rotateY(5deg) rotateZ(157deg);
}

.knight .die.value-0:nth-of-type(2) {
  transform: rotateX(-6deg) rotateY(5deg) rotateZ(105deg);
}

.monster .die.value-0:nth-of-type(1) {
  transform: rotateX(10deg) rotateY(-12deg) rotateZ(7deg);
}

.monster .die.value-0:nth-of-type(2) {
  transform: rotateX(-6deg) rotateY(9deg) rotateZ(-94deg);
}

.die:nth-of-type(2) {
  top: 150px;
  animation-direction: reverse;
}

.side {
    position: absolute;
    width: var(--face-size);
    height: var(--face-size);
    background: #fff;
    box-shadow:inset 0 0 20px #ccc;
    border-radius: 20px;
}


.die .cover, .die .inner {
    background: #e0e0e0;
    box-shadow: none;
}

.dice.monster .side {
  background-color: #444;
  box-shadow:inset 0 0 20px #222;
}

.dice.monster .die .cover, .dice.monster .die .inner {
  background: #222;
  box-shadow: none;
}


.die .cover {
    border-radius: 0;
    transform: translateZ(0px);
}
.die .cover.x {
    transform: rotateY(90deg);
}
.die .cover.z {
    transform: rotateX(90deg);
}
.die .front  {
    transform: translateZ(calc(var(--face-size) / 2));
}
.die .front.inner  {
    transform: translateZ(calc((var(--face-size) / 2) - 2px));
}
.die .back {
    transform: rotateX(-180deg) translateZ(calc(var(--face-size) / 2));
}
.die .back.inner {
    transform: rotateX(-180deg) translateZ(calc((var(--face-size) / 2) - 2px));
}
.die .right {
    transform: rotateY(90deg) translateZ(calc(var(--face-size) / 2));
}
.die .right.inner {
    transform: rotateY(90deg) translateZ(calc((var(--face-size) / 2) - 2px));
}
.die .left {
    transform: rotateY(-90deg) translateZ(calc(var(--face-size) / 2));
}
.die .left.inner {
    transform: rotateY(-90deg) translateZ(calc((var(--face-size) / 2) - 2px));
}
.die .top {
    transform: rotateX(90deg) translateZ(calc(var(--face-size) / 2));
}
.die .top.inner {
    transform: rotateX(90deg) translateZ(calc((var(--face-size) / 2) - 2px));
}
.die .bottom {
    transform: rotateX(-90deg) translateZ(calc(var(--face-size) / 2));
}
.die .bottom.inner {
    transform: rotateX(-90deg) translateZ(calc((var(--face-size) / 2) - 2px));
}
.dot {
  position:absolute;
  background:#444;
  box-shadow:inset 2px 0 5px #000;
  width: var(--dot-size);
  height: var(--dot-size);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.dice.monster .dot {
  background: #fff; 
}

.dot.center {
  left: 50%;
  top: 50%;
}
.dot.dtop {
  top: 25%;
}
.dot.dleft {
  left: 25%;
}
.dot.dright {
  left: 75%;
}
.dot.dbottom {
  top:75%;
}
.dot.center.dleft {
  top: 50%;
  left: 25%
}
.dot.center.dright {
  top: 50%;
  left: 75%;
}
