@font-face {
  font-family: 'Medieval-Scribish';
  src:url('/font/Medieval-Scribish.ttf.woff') format('woff'),
      url('/font/Medieval-Scribish.ttf.svg#Medieval-Scribish') format('svg'),
      url('/font/Medieval-Scribish.ttf.eot'),
      url('/font/Medieval-Scribish.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}



html, body {
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  font-family: 'Medieval-Scribish';
  height: 100vh;
}

.App {
  background: white url('/images/background.jpg') scroll no-repeat 50% 0;
  background-size: contain;
  width: 90vw;
  margin: auto;
  height: 0;
  /* size the div to the background-image */
  padding-top: calc(1432 / 1920 * 90vw);
  position: relative;
  overflow: hidden;
}

.App h1 {
  margin: 0;
    position: absolute;
    top: 2.2vw;
    font-size: 3.5vw;
    left: 0;
    width: 100%;
    text-align: center;
    text-shadow: 1px 3px 7px rgba(0,0,0,0.6);
}

.button-fight {
  position: absolute;
  left: 50%;
  bottom: 10vw;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  padding: 0.5vw 1vw;
  font-size: 2.5vw;
  font-family: 'Medieval-Scribish';
  transform: translateX(-50%);
  background-color: #5151ce;
  color: white;
}

.button-fight:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.button-reset {
  position: absolute;
  right: 0;
  bottom: 2vw;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  padding: 0.5vw 1vw;
  font-size: 1.5vw;
  font-family: 'Medieval-Scribish';
  transform: translateX(-50%);
  background-color: #e6243d;
  color: white;
}

.caption {
  position: absolute;
    bottom: 15vw;
    font-size: 2.5vw;
    left: 0;
    width: 100%;
    text-align: center;
    text-shadow: 1px 3px 7px rgba(0,0,0,0.6);
}

.gameover {
  color: red;
  font-size: 10vw;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  z-index: 2;
  text-shadow: -1px 5px 8px black;
  transform: translateY(-50%)
}

.gameover.victory {
  color: green;
}
